

.main__view-switcher {
  padding: 20px 0 30px;
} 

.button_garage,
.button_winners {
  background-color: lightgreen;
}

.main__win-message {
  position: absolute;
  top: 40%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 20%;
}

.main__win-message p {
  position: relative;
  display: block;
  color: yellow;
  font-size: 50px;
  text-align: center;
  padding: 30px;
  background-color: black;
}

@media (max-width: 768px) {
  .main__win-message p {
    font-size: 30px;
  }
}

.hidden {
  display: none;
}

.main {
  padding: 15px 50px;
}

@media (max-width: 768px) {
  .main {
    padding: 15px 15px 15px 15px;
  }
}

.main__setup {
  flex-direction: column;
  display: flex;
  row-gap: 10px;
}

.main__form {
 display: flex;
 align-items: center;
 gap: 5px;
}

.main__color {
 width: 20px;
 height: 22px;
 border: 0;
 padding: 0;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.main__pagination {
  margin-top: 40px;
}